<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"></setting>
        <setting name="defaultStatementTimeout" value="3000"></setting>
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
        <setting name="proxyFactory" value="CGLIB"></setting>
        <setting name="lazyLoadingEnabled" value="true"></setting>
    </settings>
    
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="offsetAsPageNum" value="true"></property>
            <property name="rowBoundsWithCount" value="true"></property>
            <property name="pageSizeZero" value="true"></property>
        </plugin>
    </plugins>

</configuration>